<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card  o-hidden h-100 cardblue text-white">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-ship  "></i>
        </div>
      </div>
      <div class="mr-5"> <b>26 Pending deliveries!</b></div>
      <a class="card-footer learfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card  o-hidden h-100 cardyellow text-white">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-list"></i>
        </div>
      </div>
      <div class="mr-5"><b>1 Pending Quotations!</b></div>
      <a class="card-footer  clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card  o-hidden h-100 cardgreen text-white">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-shopping-cart"></i>
        </div>
      </div>
      <div class="mr-5"><b>123 New Orders!</b></div>
      <a class="card-footer  clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card  o-hidden h-100 cardred text-white ">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fa fa-fw fa-usd "></i>
        </div>
      </div>
      <div class="mr-5"><b>13 Pending Payments!</b></div>
      <a class="card-footer  clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fa fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-hand-o-down"></i> Quick buttons</div>
  <div class="card-body">
    <button class="btn btn-outline-secondary">All Orders</button>
    <button class="btn btn-outline-secondary">Update Quotation</button>
    <button class="btn btn-outline-secondary">Add new Quotation</button>
    <button class="btn btn-outline-secondary">Add new product </button>
    <button class="btn btn-outline-secondary">Add new client</button>
    <button class="btn btn-outline-secondary">Add new season"</button>
    <button class="btn btn-outline-secondary">Add new payment term</button>
    <button class="btn btn-outline-secondary">Add new payment</button>
    <button class="btn btn-outline-secondary">Add new handler</button>
    <button class="btn btn-outline-secondary">Add new document control</button>
    <button class="btn btn-outline-secondary">Add new delivery</button>
    <button class="btn btn-outline-secondary">Add new deduction</button>
    <button class="btn btn-outline-secondary">Add new Commission</button>
    <button class="btn btn-outline-secondary">Add new Color</button>
    <button class="btn btn-outline-secondary">Add new Category</button>
    <button class="btn btn-outline-secondary">Add new brand</button>
    <button class="btn btn-outline-secondary">Add new port</button>
    <button class="btn btn-outline-secondary">Add Seller</button>
    <button class="btn btn-outline-secondary">Add new Size%></button>
    <button class="btn btn-outline-secondary">Add new Supplier%></button>




  </div>
  <div class="card-footer small text-muted"></div>
</div>

<!-- Quotation-->
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Orders </div>
  <div class="card-body">
    <%= render template: "clients/index"%>
  </div>
  <div class="card-footer small text-muted"></div>
</div>
<div class="row">
  <div class="col">
    <!-- Example Bar Chart Card-->
  
  </div>
</div>
