<p id="notice"><%= notice %></p>

<hr>
<h4>To add a new attribute, please use Admin User panel</h4>

<h1>Categories</h1>
<div class="row">
  <div class="offset-md-3 col-md-6">
    <table class="table table-striped table-bordered table-hover table-sm text-center" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
